@model Sports_Capstone.Models.PlayingEvent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PlayingEvent</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.Players.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Players.FirstName)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SportName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SportName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfPlay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfPlay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SkillLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SkillLevel)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
