@model IEnumerable<Sports_Capstone.Models.MessageBoard>

@{
    ViewBag.Title = "Index";
}
    <style>
        .table {
            height: 15px;
            font-size: 20px;
            width: 100%;
            color: midnightblue;
        }
    </style>
   
<h2>All Messages</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.PlayingEvent.Location)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Messages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Review)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.PlayingEvent.Location)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Messages)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Review)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}

</table>
